// .listing-cards{
//   margin: 50px 100px;
// }

.listing-card{
  background-color: white;
  box-shadow: 4px 1px 16px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 25px auto;
  height: 350px;
  width: 500px;
}

.listing-card-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-top: 15px;
}

.photo-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;

 img {
  height: 100px;
  width: 200px;
 }
}

.listing-card-details{
  padding: 15px;
}
